<div class="container">
    <div ng-show="!vm.searching" id="startBtnDiv">
        <button class="btn btn-warning" id="startBtn" ng-click="vm.searching = !vm.searching">Start searching</button>
    </div>
    <div class="jumbotron jumbocontainer fading" ng-show="vm.searching">
        <h1 id="searchtext">Search</h1>
        <form name="vm.searchForm" ng-submit="vm.searchPackages()">
            <div class="searchrowdiv">
                <label for="package_id">Package ID: </label>
                <input id="package_id" type="number" ng-model="vm.package_id">
                <label for="package_type">Type: </label>
                <select name="package_type" id="package_type" ng-model="vm.package_type">
                    <option value=""></option>
                    <option value="mail">Mail</option>
                    <option value="invoice">Invoice</option>
                    <option value="packet">Packet</option>
                    <option value="gazette">Gazette</option>
                </select>
            </div>
            <div class="searchrowdiv">
                <label for="from_date">From (date): </label>
                <input id="from_date" type="date" ng-model="vm.fromDate">
                <label for="to_date">To (date): </label>
                <input id="to_date" type="date" ng-model="vm.toDate">
            </div>
            <div class="searchrowdiv">
                <label for="comment">Comment: </label>
                <input type="text" id="comment" ng-model="vm.package_comment">
                <label for="subject">Subject: </label>
                <input type="text" id="subject" ng-model="vm.subject">
            </div>
            <div class="searchrowdiv">
                <label for="address">Address: </label>
                <input type="text" id="address" placeholder="Address" ng-model="vm.adress">
                <input type="text" id="city" placeholder="City" ng-model="vm.city">
                <input type="number" id="zip" placeholder="Zip" ng-model="vm.zip">
            </div>
            <div class="searchrowdiv">
                <label for="division">Division: </label>
                <select name="division" id="division" ng-model="vm.division">
                    <option value=""></option>
                    <option value="RX">RX</option>
                    <option value="Dia">Dia</option>
                </select>
                <label for="admin">Admin:  </label>
                <select name="admin" id="admin" ng-model="vm.admin">
                    <option value=""></option>
                    <option ng-repeat="admin in vm.admins" value="{{admin.name}}">{{admin.name}}</option>
                </select>
            </div>
            <div class="searchrowdiv searchbuttondiv">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true" style="margin-right: 5px;"></i>Search</button>
            </div>
        </form>
        <div class="newmaildiv">
            <form action="#/newmail" style="display: inline-block;">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus-square" aria-hidden="true" style="margin-right: 5px;"></i>Add new package</button>
            </form>
            <form ng-submit="vm.printTable()" style="display: inline-block;" ng-show="vm.searchResults.length > 0">
                <button type="submit" class="btn btn-info"><i class="fa fa-print" aria-hidden="true" style="margin-right: 5px;"></i>Print Table</button>
            </form>
        </div>
    </div>
    <div class="container fading" ng-show="vm.searchResults.length > 0">
        <table class="table table-bordered table-hover" id="printable">
            <thead>
                <tr>
                    <td style="width: 90px;">Package ID</td>
                    <td style="width: 110px;">Package Type</td>
                    <td>Subject</td>
                    <td style="width: 110px;">Time</td>
                    <td>Address</td>
                    <td>Division</td>
                    <td>Admin</td>
                    <td>Comment</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-click="vm.rowClick(result)" dir-paginate-start="result in vm.searchResults|itemsPerPage:vm.itemsPerPage" total-items="vm.totalCount" current-page="vm.currentPage">
                    <td>{{result.packageId}}</td>
                    <td>{{result.package_type}}</td>
                    <td>{{result.subject}}</td>
                    <td>{{result.time | date}}</td>
                    <td>{{result.adress.zip + " " + result.adress.city + " " + result.adress.adress}}</td>
                    <td>{{result.division}}</td>
                    <td>{{result.admin.name}}</td>
                    <td>{{result.package_comment}}</td>
                </tr>
                <tr ng-if="result.expanded" dir-paginate-end="" >
                    <td colspan="100%">
                        <div class="rowdiv" ng-show="result.package_type == 'invoice'">
                            <div class="rowdiv">
                                <span><strong>Invoice#:</strong>{{result.details.invoice_number}}</span>
                                <span><strong>Expiry:</strong>{{result.details.expiry}}</span>
                                <span><strong>Brutto:</strong>{{result.details.brutto}}</span>
                                <span><strong>Netto:</strong>{{result.details.netto}}</span>
                                <button class="btn btn-success" ng-click="vm.editPackage(result)" style="float: right;">Edit</button>
                            </div>
                        </div>
                        <div class="rowdiv" ng-show="result.package_type != 'invoice'">
                            <div class="rowdiv">
                                <span><strong>Category:</strong>{{result.details.category}}</span>
                                <span><strong>Delivery type:</strong>{{result.details.delivery_type}}</span>
                                <span><strong>Count:</strong>{{result.details.count}}</span>
                                <span><strong>Value:</strong>{{result.details.value}}</span>
                                <span><strong>Weight:</strong>{{result.details.weight}}</span>
                                <span><strong>Weight price:</strong>{{result.details.weight_price}}</span>
                                <span><strong>Extra price:</strong>{{result.details.extra_price}}</span>
                                <button class="btn btn-success" ng-click="vm.editPackage(result)" style="float: right;">Edit</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pageDiv">
            <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true"
                    on-page-change="vm.getData(newPageNumber)" >
            </dir-pagination-controls>
        </div>
    </div>
</div>